* {
  font-family: "CaskaydiaMono Nerd Font Mono";
  font-size: 16px;
  color: #e5e9f0;
  /* background: transparent; */
}

#window {
  background: rgba(41, 46, 66, 0.5);
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: 5px solid #678C30;
  background-color: #151515;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #E2FCC5;
  color: #081c15
}

#input:firstchild {
  color: #14260C;
  background-color: #14260C;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 10px;
}

#entry:selected {
  background-color: #678C30;
}

#text {
  margin: 2px;
}
